<section id="main">  
    {{yield}}
    <input type="checkbox" id="toggle-all">
</section>

<footer id="footer">  
    <span id="todo-count">
        <strong>2</strong> todos left
    </span>
    <ul id="filters">
        <li>
            {{!-- Active class applied when the link is active --}}
            {{#link-to "todo-items.index" activeClass="selected"}}All{{/link-to}}
        </li>
        <li>
            {{#link-to "todo-items.complete" activeClass="selected"}}Completed{{/link-to}}
        </li>
        <li>
            {{#link-to "todo-items.incomplete" activeClass="selected"}}Not Completed{{/link-to}}
        </li>
    </ul>

    <button id="clear-completed">
        Clear completed (1)
    </button>
</footer> 